body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: url("../background/main.webp") no-repeat center center fixed, linear-gradient(180deg, #c1f2e9, #a3e0ff);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  width: 100%;
}

.logo {
  width: 70%;
  max-width: 300px;
  margin-bottom: 40px;
}

.hint {
  font-size: 1.3rem;
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  animation: blink 1.5s infinite;
}

/* Efeito de piscar */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.4; }
}
