body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url("../background/inicial.jpeg") no-repeat center center fixed, linear-gradient(180deg, #c1f2e9, #a3e0ff);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  text-align: center;
  overflow: hidden;
}

.container {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 900px;
  margin: 50px auto;
  box-shadow: 0 0 20px #000;
}

.pokemon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.pokemon-card {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 15px;
  padding: 20px;
  width: 150px;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 0 10px #000;
}

.pokemon-card:hover {
  transform: scale(1.1);
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}

.pokemon-name {
  font-weight: bold;
  margin-top: 10px;
}

.type-icon {
  width: 30px;
  height: 30px;
  margin: 2px;
  vertical-align: middle;
}

.shiny-label {
  background: gold;
  color: black;
  font-weight: bold;
  margin-top: 6px;
  border-radius: 6px;
  padding: 3px 6px;
  display: inline-block;
  box-shadow: 0 0 8px yellow;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}
