body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url("../background/inicial.png") no-repeat center center fixed, linear-gradient(180deg, #c1f2e9, #a3e0ff);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  text-align: center;
  overflow: hidden;
}

.container {
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 900px;
  margin: 50px auto;
}

.pokemon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.pokemon-card {
  width: 120px;
  text-align: center;
  background-color: rgba(255,255,255,0.1);
  border-radius: 15px;
  padding: 10px;
  border: 2px solid white;
}

.pokemon-card:hover {
  transform: scale(1.1);
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}

.pokemon-name {
  font-weight: bold;
  margin-top: 10px;
}

.type-icon {
  width: 6px;
  height: 6px;
  margin: 2px;
  vertical-align: middle;
}

.shiny-label {
  background: gold;
  color: black;
  font-weight: bold;
  margin-top: 6px;
  border-radius: 6px;
  padding: 3px 6px;
  display: inline-block;
  box-shadow: 0 0 8px yellow;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}

#proceedBtn {
  display: none;
  margin-top: 30px;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: bold;
  background-color: #ffffffcc;
  color: #000;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px #000000aa;
}

#proceedBtn:hover {
  background-color: #fff;
}

.pokemon-card.selected {
  border: 3px solid gold;
  box-shadow: 0 0 15px yellow;
}
