
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../background/pokedex.png") no-repeat center center fixed;
  background-size: cover;
  color: white; /* deixa os textos legíveis */
}

main {
  flex: 1;
  overflow-y: auto;
}

.hud {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #333;
  color: white;
  padding: 10px 0;
}

.hud-item img {
  width: 24px;
  vertical-align: middle;
  margin-right: 5px;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 10px 0;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

#type-filters img {
  width: 32px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid transparent;
}

#type-filters img.selected {
  border-color: #000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
}

.pokemon-card {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  padding: 6px;
  text-align: center;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  min-width: 100px;
  max-width: 110px;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 180px;
  overflow: hidden;
}

.pokemon-card img {
  width: 100%;
  max-height: 80px;
  object-fit: contain;
  margin-bottom: 4px;
}

/* Nome do Pokémon */
.pokemon-card .label {
  margin-bottom: 30px; /* reserva espaço para o rodapé */
}

/* Rodapé fixo com tipo e CP */
.card-footer {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  padding: 0 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.types {
  display: flex;
  gap: 4px;
}

.type-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.cp-value {
  font-size: 0.85rem;
  color: white;
  text-shadow: 1px 1px 2px #000;
}
