/* CORPO DA TELA */
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../background/pokedex.png") no-repeat center center fixed;
  background-size: cover;
  color: white;
}

/* ALÉM DA TELA (ROLAGEM) */
main {
  flex: 1;
  overflow-y: auto;
}

/* BARRA SUPERIOR DE MOEDAS */
.hud {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #333;
  color: white;
  padding: 10px 0;
}

/* ICONES DA BARRA SUPERIOR DE MOEDAS */
.hud-item img {
  width: 24px;
  vertical-align: middle;
  margin-right: 5px;
}

/* TÍTULO DA PÁGINA*/
.title {
  text-align: center;
  font-size: 2rem;
  margin: 10px 0;
}

/* FILTROS DOS TIPOS*/
.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

/* ICONES E FILTROS DOS TIPOS*/
#type-filters img {
  width: 32px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid transparent;
}

/* ICONES E FILTROS DOS TIPOS SELECIONADO*/
#type-filters img.selected {
  border-color: #000;
}

/* CONTAINER PARA OS CARDS*/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
}

/* ESTILO GERAL DOS CARDS*/
.pokemon-card {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  padding: 6px;
  text-align: center;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  min-width: 100px;
  max-width: 110px;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 220px;
  overflow: hidden;
}

/* IMAGEM DOS POKEMONS NOS CARDS*/
.pokemon-card img {
  width: 100%;
  max-height: 80px;
  object-fit: contain;
  margin-bottom: 4px;
}

/* NOME DOS POKEMONS NOS CARDS*/
.pokemon-card .label {
  margin-bottom: 30px;
}

/* RODAPÉ DO CARD COM TIPO E CP DO POKEMON*/
.card-footer {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  padding: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTAINER DOS TIPOS DO POKEMON*/
.types {
  display: flex;
  gap: 4px;
  min-width: 50px;
  max-width: 50px;
  align-items: center;
}

/* ICONE DOS TIPOS DO POKEMON*/
.type-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

/* TEXTO DO CP*/
.cp-value {
  font-size: 0.85rem;
  color: white;
  text-shadow: 1px 1px 2px #000;
}
